body {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(98, 170, 238), rgb(117, 245, 245), rgb(34, 109, 114), rgb(0, 0, 0)) ;
    text-align: center;
    font-style: normal;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    align-items: center;
    border: solid #2424244b;
    border-radius: 0.5rem ;
    background-image:radial-gradient(rgb(106, 194, 245), white) ;
}

header > a:nth-last-child(1) {
    flex-grow: 1;
}

h1 {
    color: rgb(38, 99, 80);
    font-size: 5rem ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0.5rem;
    padding: 0.5rem;
    text-shadow: 4px 6px 8px rgb(0, 0, 0);
}

nav {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
    border-radius: 1rem;
    border: solid #2424244b;
    background-image:radial-gradient(rgb(106, 194, 245), white) ;
    align-items: center;
}

.OuNav {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32)
}

.CoNav {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32)
}

.LuNav {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32)
}

.PoNav {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32)
}

.Login {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32);
}

.Reg {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgba(0, 0, 0, 0.205);
    color: rgb(38, 99, 80);
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 6px 10px 15px rgb(9, 46, 32);
}

nav > div {
    border: ridge rgba(191, 228, 235, 0.582) ;
    border-radius: 2rem;
}

div > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 0.5rem;
    margin: 0.5rem;
}

article {
    border-radius: 0.5rem;
    background-image:radial-gradient(rgb(106, 194, 245), white) ;
    padding: 1rem;
    margin: 0.5rem;
    color: rgb(38, 99, 80);
    display: flex;
    flex-direction: column;
}

h2 {
    color: rgb(38, 99, 80);
    font-size: 1.5rem ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0.5rem;
    padding: 0.5rem;
    text-shadow: 4px 6px 8px rgb(0, 0, 0);
}

footer {
    background-image:radial-gradient(rgb(106, 194, 245), white) ;
    border-radius: 1rem;
    padding: 0.5rem ;
    margin: 0.5rem;
    color: rgb(35, 87, 71);
    font-size: 1.5rem ;
}

a{
    text-decoration: none;
}

img {
    border: solid rgba(92, 91, 91, 0.61);
    border-radius: 2rem;
}